@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    font-size: 15px;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

footer {
    font-size: 0.85rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0.75rem;
}

body {
    margin-top: 0.7rem;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #1e1e1e;
}

header {
    padding: 1rem;
    align-items: center;
    border-bottom: #FAF9F6 solid 2px;
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
    background-color: #1e1e1e;
    z-index: 9;
}

/* logo transition starts */

#logo {
    grid-column: 1 / span 6;
    width: 3rem;
    margin-left: 5rem;
}

#logo:hover {
    cursor: pointer;
    content: url(./images/logo/rodLogoGreen.png);
    width: 3rem;
}

/* logo transition ends */

header nav {
    grid-column: 7 / span 6;
    justify-self: right;
    margin-right: 5rem;
}

header nav a {
    text-decoration: none;
    color: #FAF9F6;
    margin-left: 2.5rem;
    font-size: 1.3rem;
}

header nav a:hover {
    color: #64ffda;
    text-decoration: underline;
    text-decoration-thickness: 0.3rem;
    text-underline-offset: 0.8rem;
}

.socials {
    position: fixed;
    margin-left: 10px;
    bottom: 120px;
    z-index: 2;
}

.socials ul {
    list-style: none;
    padding: 0.5rem;
    line-height: 2.5rem;
}

.socials img {
    width: 3rem;
    transition: all 0.2s ease-in-out;
}

#gitHub:hover {
    cursor: pointer;
    content: url(./images/socials/githubGreen.png);
    width: 3rem;
}

#linkedIn:hover {
    cursor: pointer;
    content: url(./images/socials/linkedinGreen.png);
    width: 3rem;
}

.verticalLine {
    border-left: 0.1rem solid #FAF9F6;
    height: 170px;
    position: absolute;
    bottom: -150px;
    left: 29px;
}

main {
    padding: 1.5rem;
    margin-left: 12vw;
    margin-top: 12vh;
}

#mainLanding {
    height: 100vh;
    margin-bottom: -20vh;
}

#mainLanding h1 {
    color: #FAF9F6;
    text-decoration: underline;
    text-decoration-color: #64ffda;
    text-decoration-thickness: 1rem;
    text-underline-offset: 0.7rem;
    margin-top: 15vh;
}

#mainLanding h2 {
    color: #FAF9F6;
    margin-top: -2rem;
}

#mainLanding h3 {
    color: #FAF9F6;
}

#mainLanding button {
    width: 10rem;
    height: 3rem;
    border: #64ffda 0.1rem solid;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #64ffda;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    transition: all 0.2s ease-in-out;
}

#mainLanding button:hover {
    background-color: #64ffda;
    color: #1e1e1e;
    cursor: pointer;
}

/* scrolldown icon starts */

#scrolldown {
    grid-column: 1 / span 12;
    --color: #64ffda;
    --sizeX: 30px;
    --sizeY: 50px;
    position: absolute;
    width: var(--sizeX);
    height: var(--sizeY);
    border: calc(var(--sizeX) / 10) solid var(--color);
    border-radius: 50px;
    box-sizing: border-box;
    cursor: pointer;
    bottom: 3vh;
    right: 50%;
    z-index: 1;
}

#scrolldown::before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: var(--color);
    border-radius: 100%;
    animation: scrolldown-anim 2s infinite;
    box-sizing: border-box;
    box-shadow: 0px -5px 3px 1px #2a547066;
}

@keyframes scrolldown-anim {
    0% {
        opacity: 0;
        height: 6px;
    }

    40% {
        opacity: 1;
        height: 10px;
    }

    80% {
        transform: translate(0, 20px);
        height: 10px;
        opacity: 0;
    }

    100% {
        height: 3px;
        opacity: 0;
    }
}

/* scrolldown icon ends */

#aboutSection {
    color: #FAF9F6;
    height: 40rem;
}

#aboutContainer {
    grid-column: 1 / span 6;
    margin-right: 2rem;
}

#aboutMeText {
    letter-spacing: 0.02rem;
}

#skillsSection {
    color: #FAF9F6;
    height: 40rem;
}

#skillsContainer {
    grid-column: 7 / span 6;
}

.skillIcons {
    display: flex;
    justify-content: space-between;
    margin-right: 5rem;
    margin-bottom: 3rem;
}

.skillIcons img {
    height: 3rem;
}

#projectsSection {
    color: #FAF9F6;
    height: 40rem;
}

#projects {
    grid-column: 1 / span 6;

}

.projImages img {
    max-width: 70%;
}

footer {
    border-top: #FAF9F6 solid 2px;
    background: #1e1e1e;
    width: 100%;
    height: 3.5rem;
    z-index: 8;
    position: absolute;
}

#copyright {
    grid-column: 1 / span 12;
    color: #FAF9F6;
    padding: 0.8rem;
    justify-self: center;
}