@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Document formatting start */

html {
    font-size: 15px;
    scroll-behavior: smooth;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

footer {
    font-size: 0.85rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0.75rem;
}

.anchor {
    scroll-margin-top: 5rem;
}

body {
    margin-top: 0.7rem;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #1e1e1e;
}

/* Document formatting end */

/* Nav bar starts */

header {
    padding: 1rem;
    align-items: center;
    border-bottom: #FAF9F6 solid 2px;
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
    background-color: #1e1e1e;
    z-index: 9;
}

#logo {
    grid-column: 1 / span 6;
    width: 3rem;
    margin-left: 5rem;
}

#logo:hover {
    cursor: pointer;
    content: url(./images/logo/rodLogoGreen.png);
    width: 3rem;
}


header nav {
    grid-column: 7 / span 6;
    justify-self: right;
    margin-right: 5rem;
}

header nav a {
    text-decoration: none;
    color: #FAF9F6;
    margin-left: 2.5rem;
    font-size: 1.3rem;
}

header nav a:hover {
    color: #64ffda;
    text-decoration: underline;
    text-decoration-thickness: 0.3rem;
    text-underline-offset: 0.8rem;
}

/* Nav bar ends */

/* Social media section starts */

.socials {
    position: fixed;
    margin-left: 10px;
    bottom: 120px;
    z-index: 2;
}

.socials ul {
    list-style: none;
    padding: 1rem;
    line-height: 2.5rem;
    margin-bottom: 35px;
}

.socials img {
    width: 2rem;
    transition: all 0.2s ease-in-out;
}

#gitHub:hover {
    cursor: pointer;
    content: url(./images/socials/github_green.png);
    width: 2rem;
}

#linkedIn:hover {
    cursor: pointer;
    content: url(./images/socials/linkedin_green.png);
    width: 2rem;
}

.verticalLine {
    border-left: 0.1rem solid #FAF9F6;
    height: 200px;
    position: absolute;
    bottom: -150px;
    left: 29px;
}

/* Social media section ends */

/* Main landing starts */

main {
    padding: 1.5rem;
    margin-left: 12vw;
    margin-top: 12vh;
}

#mainLanding {
    height: 100vh;
    margin-bottom: -20vh;
}

#mainLanding p {
    color: #64ffda;
    margin-top: 15vh;
}

#mainLanding h1 {
    color: #FAF9F6;
    text-decoration: underline;
    text-decoration-color: #64ffda;
    text-decoration-thickness: 1rem;
    text-underline-offset: 0.7rem;
    margin-top: -1rem;
}

#mainLanding h2 {
    color: #FAF9F6;
    margin-top: -2rem;
    opacity: 100%;
}

#mainLanding h3 {
    color: #FAF9F6;
}

#mainLanding button {
    width: 10rem;
    height: 3rem;
    border: #64ffda 0.1rem solid;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #64ffda;
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    transition: all 0.2s ease-in-out;
    margin-right: 1rem;
}

#mainLanding button:hover {
    background-color: #64ffda;
    color: #1e1e1e;
    cursor: pointer;
}

/* scrolldown icon starts */

.fa-angle-down {
    position: absolute;
    right: 50%;
    bottom: 1rem;
    font-size: 1.5rem;
    color: #64ffda;
}

/* scrolldown icon ends */

/* Main landing ends */

/* About section starts */

#aboutSection {
    color: #FAF9F6;
    height: 40rem;
}

#aboutContainer {
    grid-column: 1 / span 6;
    margin-right: 3rem;
}

#aboutMeText {
    letter-spacing: 0.01rem;
    line-height: 1.8rem;
}

#profilePicContainer {
    grid-column: 7 / span 6;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    overflow: hidden;
    background: #64ffda;
    justify-self: center;
    margin-top: 5rem;
}

#profilePic {
    height: 100%;
    width: 100%;
    transform: scaleX(-1);
    object-fit: contain;
    opacity: 100%;
    mix-blend-mode: multiply;
}

#profilePic:hover {
    mix-blend-mode: normal;
}

/* About section ends */

/* Skills section starts */

#skillsSection {
    color: #FAF9F6;
    height: 40rem;
}

#skillsContainer {
    grid-column: 7 / span 6;
}

.skillIcons {
    display: flex;
    justify-content: space-between;
    margin-right: 5rem;
    margin-bottom: 3rem;
}

.skillIcons img {
    height: 3rem;
}

/* Skills section ends */

/* Projects section starts */

#projectsSection {
    color: #FAF9F6;
    margin-right: 5rem;
    margin-bottom: 10rem;
}

#projectsSection h2 {
    grid-column: span 12;
}

#rodWeatherImgContainer {
    grid-column: 1 / span 6;
}

#rodWeatherImgContainer img {
    width: 75%;
}

#rodWeatherDescContainer {
    grid-column: 7 / span 6;
    align-self: center;
}

#rodWeatherDescContainer img {
    width: 40%
}

.projSkills {
    font-size: 0.8rem;
}

#rodFlixDescContainer {
    grid-column: 1 / span 6;
    text-align: right;
    margin-top: 8rem;
    align-self: center;
}

#rodFlixDescContainer img {
    width: 25%;
    margin-top: -1.5rem;
}


#rodFlixImgContainer {
    grid-column: 7 / span 6;
    margin-top: 8rem;
}

#rodFlixImgContainer img {
    width: 75%;
    display: flex;
    float: right;
}


/* Projects section ends */

/* Contact section starts */

#contactSection {
    margin-right: 5rem;
}

#contactSection h2 {
    grid-column: 1 / span 12;
    color: #FAF9F6;
    justify-self: center;
}

/* Contact form starts */

#contactForm {
    grid-column: 4 / span 6;
    background: #faf9f616;
    padding: 20px;
    border-radius: 5px;
}

.formGroup {
    color: #FAF9F6;
}

.inpGroup {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.formControl {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.3rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #1e1e1e;
    background-color: #FAF9F6;
    background-clip: padding-box;
    outline: none;
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out
}

.formControl:focus {
    border-bottom: 4px solid #64ffda;
    border-right: 4px solid #64ffda;
}

textarea.formControl {
    height: auto;
}

label.inpLabel {
    display: inline-block;
    margin-bottom: 0.1rem;
    margin-top: 0.4rem;
}

#messageArea {
    resize: none;
}

.btnBlock {
    display: block;
    width: 40%;
    margin-left: 60%;
}

#formButton {
    margin-top: 2rem;
    height: 3rem;
    border: #64ffda 0.1rem solid;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #64ffda;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    transition: all 0.2s ease-in-out;
}

#formButton:hover {
    background-color: #64ffda;
    color: #1e1e1e;
    cursor: pointer;
}

input[type="submit"].btnBlock,
input[type="reset"].btnBlock,
input[type="button"].btnBlock {
    width: 100%;
}

/* Contact form ends */

/* Footer secion starts */

footer {
    /* border-top: #FAF9F6 solid 2px; */
    margin-top: 10rem;
    /* background: #1e1e1e; */
    width: 100%;
    z-index: 8;
    position: absolute;
}

#copyright {
    grid-column: 1 / span 12;
    color: #FAF9F6;
    padding: 0.8rem;
    justify-self: center;
}

#supermanIcon {
    grid-column: 1 / span 12;
    justify-self: center;
    margin-bottom: 3rem;
}

#supermanIcon img {
    height: 4rem;
}

#supermanIcon:hover {
    cursor: pointer;
    opacity: 70%;
}

#upAndAway {
    color: #FAF9F6;
    font-size: 0.6rem;
}

#upAndAway {
    visibility: hidden;
    white-space: nowrap;
    position: absolute;
    transform: translateX(-47.4%);
    left: 50%;
    bottom: 17%;
    opacity: 0;
    transition: opacity 1s ease;
}

#supermanIcon:hover>#upAndAway {
    visibility: visible;
    opacity: 1;
}

/* Footer secion ends */

/* End */